@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
* { box-sizing: border-box; 
   }

   body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header,nav,section,footer{ width: 100%; }

section.horizon{
    height: 100vh;
}




section.horizon .sec01{ background: #7CE1F1; }

section.horizon .sec02{ background:#0d1b57;}
section.horizon .sec03{ background: rgb(106, 123, 124); }
section.horizon .sec04{ background: #000; }
section.horizon .sec05{ background: #383A3F; }

  
.swiper-container .swiper-wrapper .swiper-slide{
    padding: 100px;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    /* background: rgba(0,0,0,0.3); */
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 30px;
    font-weight: 800;
    color:#fff;
    position: fixed;
    display: block;
    top: 0;
    left: 20px;
    z-index: 101;
    cursor: pointer;
}
.main>div{text-shadow:4px 7px 2px rgb(48, 54, 61);}
.swiper-pagination-bullet {
    width: 200px;
    height: 50px;
    border-radius: unset;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#fff;
    opacity: 1;
    background:transparent;
}
.swiper-pagination-bullet-active {
    font-size: 24px;
    font-weight: 800;
    color:#000;
}
.swiper-wrapper{position: relative;}
.sec01{display: flex;
      flex-direction: row;
      
      }
.index{font-size: 2rem;
       color: #fff;
       transform: rotate(270deg);
       position: absolute; left: -12px;top:50%;
    }
       
       

.index::after {content: "";
               background: #fff;
               width: 850px; height: 4px; position:absolute;
               top: 167%; left: -222%;
            }   

.main{
    margin: 17% 0 0 10%;
    position: relative;
}
.main::after{
    content: "";
    background: #fff;
    border-radius: 10px;
    width: 420px; height: 4px;
    position: absolute; top: 471px; left: 610px;
}
.main::before{
            content: "";
            background: #fff;
            border-radius: 10px;
            width: 50px; height: 4px;
            position: absolute; top: 455px;right: -64%;
            transform: rotate(45deg);
        }
.portfolio:after{
            content: "";
            width: 50px; height: 4px; background: #fff;
            border-radius: 10px; position: absolute; top: 489px; right: -64%;
            transform: rotate(-45deg);
        }                   

.main>div{
        font-size: 9.5rem;
        font-weight: bold;
        color: #fff;
    }   
          
.kyj{
    color: rgb(66, 66, 240);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    width: 100px;height: 100px;
    border-radius: 50%;
    background: #f8b7e4;
    margin: 3% 0 0 40%;
 } 

  .kyj{
    animation: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}  
    

.slidetab .bg{
            width: 75%;height: 800px;
            margin: 2% 0 0 23%;
            display: none;
        }

.slidetab .bg.on{display: block;}

.slidetab .on1{background: url(imgs/work1.png) center no-repeat;
               background-size: cover;
               background-color: rgb(233, 233, 242);
} 
    
    
    
  
.slidetab .on2{
            background: url(imgs/pdf05.png)center no-repeat;
            background-size: cover;
}  

.slidetab .on3{
    background: url(imgs/work2.png) center no-repeat;
    background-size: cover;
    background-color: rgb(233, 233, 242);
}

.slidetab .on4{
    background: url(imgs/pdf6.png) center no-repeat;
    background-size: cover;
    }


  
    
                
.slidetab ul{ 
    width: 17%;height: 350px;
    background-color: rgb(162, 194, 194);
    margin-top: 15%;
    position: absolute;
    left:15%;
    z-index: 5;
    box-shadow: 5px 8px 6px #505155;
    
}
.slidetab ul li i{margin-left: 20px;}
.slidetab ul li i:hover{color: dimgray;}
.slidetab ul li a:hover{color: dimgray;}

.sec02>div>ul{background-color: rgb(161, 195, 245);}

.slidetab ul li{
    list-style: none;}
.slidetab ul li:first-child{
    font-size: 1.5rem;
    color: rgb(248, 248, 250);
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    margin-top: 40px;
}


.slidetab ul li:first-child:hover{color: dimgray;}
.slidetab ul li:nth-of-type(2){
    font-size: 2rem;
    margin-top: 40px;
    cursor: pointer;
    color: #fff;
}
   
.slidetab ul li:nth-of-type(2):hover{color: dimgray;}               
.slidetab ul li:nth-of-type(3){margin-top:40px}
.slidetab ul li:last-child{margin-top: 40px;}


.slidetab ul li a{
            text-decoration: none;
            color: #fff;
            font-size: 2rem;
            text-align: center;}
      

.swiper-wrapper span {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                position: fixed;
                pointer-events: none;
                background: #55b9f3;
                transform: translate(-50%, -50%);
                animation: blow 4s linear infinite;
                z-index: 100;

              }
              
              
@keyframes blow {
                0% {
                  transform: translate(-50%, -50%);
                  opacity: 1;
                  filter: hue-rotate(0deg);
                }
                100% {
                  transform: translate(-50%, -1000%);
                  opacity: 0;
                  filter: hue-rotate(720deg);
                }
              } 


.sec04 .hold{width: 80%;height: 700px;
            text-align: center;
            line-height: 700px;
            color: #fff;
            background-color: rgba(117, 158, 160, 0.4);
            font-size: 2.5rem;
            margin: 60px auto;}   
            
.tabV{width: 100%; 
     height: 850px;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     overflow: hidden;
     background:#f8b7e4;
    }   
    
.tabV ul li {
            list-style: none;
            font-size: 3rem;}
.tabV ul{
    
    margin-top: 20%;
    flex-shrink: 0;
    overflow: hidden;

}

.tabV ul li{
    width: 100%;
    height: 150px;
    line-height: 150px;
    padding: 0px 40px;
    margin: 0 0 2px 0;
    background: #161616;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    position: relative;
    cursor: pointer;
}
.tabV ul li:hover{ background: #999; }
.tabV ul li.on{
    border-bottom: 3px solid rgb(236, 65, 159);
    background: #ccc;
}
.tabV .content{
    width: calc(100% - 150px);
    height: 850px;
    color: rgb(56, 55, 56);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    transition: width 0.6s;
    position: relative;
}
.tabV .content.left{ justify-content: flex-end; }
.tabV .content.right{ justify-content: flex-start; }
.tabV .content p.close{
    color: #fff;
    position: absolute;
    top: 20px;
    font-size: 2rem;
    display: none;
    cursor: pointer;
    z-index: 100;
}
.tabV .content p.close.on{ display: block; }
.tabV .content p.close.left{ left: 20px; }
.tabV .content p.close.right{ right: 20px; }
.tabV .content .conBox{
    display:flex;
    flex-shrink: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 20px;
    border: 1px solid rgb(243, 119, 191);
    position: absolute;
    transition: transform 0.6s;
    /* transition: opacity 0.5s; */
}

.tabV .content .conBox iframe,
.tabV .content .conBox object,
.tabV .content .conBox embed,
.tabV .content .conBox video{
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}
.tabV .content.left .conBox{
    transform: translateX(-130%);
    opacity: 0;
    left: 80px;
}
.tabV .content.right .conBox{
    transform: translateX(130%);
    opacity: 0;
    right: 80px;
}
.tabV .content.left .conBox.on,
.tabV .content.right .conBox.on{
    transform: translateX(0%);
    opacity: 1;
    transition: transform 0.6s;
    /* transition: opacity 0.5s; */
}
.tabV ul.off,
.tabV .content.off{
    width: 0;
    transition: width 0.6s;
}

.addbox{margin: 0 auto;}
.conBox>div>h1{text-align: center;
               font-size: 2.2rem;
               color: rgb(233, 95, 221);
            }
.email h3{font-size: 2.5rem;
          margin-top: 30px;
          text-align: center;
          margin-top: 150px;
        } 
.email h3:hover{color: #f76cb1;}    



.sub{margin-left: 45%;
     margin-top: 50px;}               
.sub input{ width: 30%; height: 50px;
            background-color: #f8b7e4;
            border: 2px solid #f729b9;
            color: #fff;
            cursor: pointer;
        }                         
.sub input:hover{color: black;
                 background-color: rgb(199, 176, 199);}
          

.row{display: flex;
     flex-direction: row;
     align-items: center;} 
 .skill{width: 60px;height: 60px;
        background-size: cover;
    }  
      
        
.row .h1{background: url(imgs/skill01.PNG) center no-repeat;}                          
.row .h2{background: url(imgs/skill02.PNG) center no-repeat;}                          
.row .h3{background: url(imgs/skill03.PNG) center no-repeat;}                          
.row .h4{background: url(imgs/skill04.PNG) center no-repeat;}                          
.row .h5{background: url(imgs/skill05.PNG) center no-repeat;} 

.text{margin: 0 auto;}
.text h1{margin-top: 60px;}
.infom{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
}
        
.text p{
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin-top:50px ;
} 
.text p:nth-of-type(2){
    font-size: 1rem;}              
.infom>div:nth-child(1){
    margin-top:30px;
               
                        } 

.infom>div:nth-child(2){
                        margin-top: 50px;
                        height: 40px;
                        }                               
.last{
    margin-top: 50px;
}
.last>h3{
    text-align: center;
       }   
.row{
    padding-left: 33px;
    padding-top: 10px;
}       
