@charset "utf-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
     /* border:1px solid blue; */
} 
:root{font-family: 'Noto Sans KR', sans-serif;
  --swiper-theme-color: #eb9fda;
}

.inner{width: 1200px;
    margin: 0 auto;} 
.Mversion{display: none;}
header{background: linear-gradient(#D6A4A4 ,#DAE2F8 );

height: 800px;
position: relative;
} 
.top{display: flex;
    flex-direction: row;}  

.top>a{position: absolute;
       top: 8px;
       left: 2%;}    

.menuBt{ display: block; }
    .menuBt .bar1,
    .menuBt .bar2,
    .menuBt .bar3{
        margin-top: 5px;
        background: #fff;
        width: 33px;
        height: 4px;
        position: absolute;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        transition: all 0.5s ease;
        z-index: 3;
    }
    .menuBt .bar2{ margin-top: 15px; }
    .menuBt .bar3{
        margin-top: 25px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .menuBt.active .bar1{
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: 13px;
    }
    .menuBt.active .bar2{ opacity: 0; }
    .menuBt.active .bar3{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 13px;
    }
    .menuBt.active{margin-left: 310px;} 

    nav{width: 39%;
        height: 800px;
        margin-top: 0;
        background-color: rgba(24, 23, 23,0.5);
        position: absolute;
        transition: all 0.5s ease;
        z-index: 2;
        transform: translateX(-100%);
      
          
          
      }
      nav.active{ transform: translateX(0%); }

      nav ul{
        width: 400px;
        height: 650px;
        margin-left:18% ;
        background-color: #000;
          margin: 50px 20px 0 150px;
          padding: 0;
          float: left;
          padding: 0.7em 0;
          text-align: center;
          position: relative;
      }
     nav ul li{margin-top: 30px;
               text-align: center;
              list-style: none;
              margin-left: 20px;
             }
   nav ul li a {text-decoration: none;
                  color: #fff ;
                  font-size: 1.6rem;}

  nav ul li a:hover{color: rgb(138, 134, 134);
                 font-size: 0;}     
                   
  nav ul li:nth-child(1) a:hover:before {
    content: "Power Mist";
    font-size:1.6rem;
    color: rgb(117, 37, 104);
  }  

  nav ul li:nth-child(2) a:hover:before {
    content: "Powermist set";
    font-size:1.6rem;
    color: rgb(245, 156, 178);
  }  
  nav ul li:nth-child(3) a:hover:before {
    content: "Mist bundle";
    font-size:1.6rem;
    color: rgb(241, 62, 62);
  }  

  nav ul li:nth-child(4) a:hover:before {
    content: "Accessories";
    font-size:1.6rem;
    color: rgb(214, 111, 43);
  }  
  nav ul li:nth-child(5) a:hover:before {
    content: "Collaboration";
    font-size:1.6rem;
    color: rgb(224, 226, 67);
  }  
  nav ul li:nth-child(6) a:hover:before {
    content: "introduction";
    font-size:1.6rem;
    color: rgb(73, 173, 73);
  }  
  nav ul li:nth-child(7) a:hover:before {
    content: "Service";
    font-size:1.6rem;
    color: rgb(91, 180, 176);
  }  
  nav ul li:nth-child(8) a:hover:before {
    content: "Event";
    font-size:1.6rem;
    color: rgb(202, 178, 178);
  }  


  nav>div span{color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 40px;
    margin-left: 20px;
}  
  nav>div{position: absolute;top:76% ;left: 278px;}      
  nav>div span:hover{color:rgb(138, 134, 134) ;
              }  
  
  #menu{display: flex;
        flex-direction: column;
      }
       
.main{text-align: center;
      display: flex;
     flex-direction: row;
    justify-content: space-between;}
    
.main>span{margin-top: 1%;
          font-weight: bold;
          display: inline-block;
         cursor: pointer;}
.main>span::after{content:''; 
       display: block;       
       position:absolute; 
      top:50px; left:10%;
     width:2px; height: 0; 
     opacity: 0;
     border-bottom: 3px solid rgb(239, 206, 241);
  transition: all 0.3s ease-in-out;}
     
  .main>span:hover::after{
    width:100%; left:0;
    opacity: 1;}

.main>span:hover{color: #58595c;} 

.sec1{margin-top:100px
}
.rap{width: 60%;}   
    
.bg1{background: url(imgs/jj1.PNG) right bottom no-repeat;
    height: 900px;
}
    
.bg2{background: url(imgs/jj2.PNG)right bottom no-repeat;
    height: 900px;
}
   
.bg3{background: url(imgs/jj3.PNG)right bottom no-repeat;
    height: 900px;
    
    }       
.bg1 h1,
.bg2 h1{margin: 130px 0 0 210px;} 
.bg3 h1{margin: 130px 0 0 120px;}
.bg1 p{margin: 20px 0 0 210px;
       font-size: 1.3rem;
       font-weight: bold;}

 .bg3 p{margin: 20px 0 0 130px;
       font-size: 1.3rem;
       font-weight: bold;}  
.sec2{margin-top: 300px;
        height: 600px;
        position: relative;}    
        
.three>div{text-align: center;
        }

.three>div h1{font-size: 3rem;
 padding-top: 50px;
 color: rgb(100, 98, 98);
 font-family:'Sunflower';
           }           
.three>div h2{font-size: 2rem;
           color: rgb(85, 81, 81);}
           
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {bottom: auto; top: 10px;}         

 @media screen and (max-width: 600px) {
            .accordion { height: auto; }
            
            .accordion ul li,
            .accordion ul li:hover,
            .accordion ul:hover li,
            .accordion ul:hover li:hover {
              position: relative;
              display: table;
              table-layout: fixed;
              width: 100%;
              -webkit-transition: none;
              transition: none;
            }
            }
            
            .accordion {
              width: 100%;
              max-width: 1080px;
              height: 300px;
              overflow: hidden;
              margin: 50px auto;
            }
            
            .accordion ul {
              width: 100%;
              display: table;
              table-layout: fixed;
              margin: 0;
              padding: 0;
            }
            
            .accordion ul li {
              display: table-cell;
              vertical-align: bottom;
              position: relative;
              width: 16.666%;
              height: 300px;
              background-repeat: no-repeat;
              background-position: center center;
              transition: all 500ms ease;
            }
            .accordion ul li div {
              display: block;
              overflow: hidden;
              width: 100%;
            }
            
            .accordion ul li div a {
              display: block;
              height: 300px;
              width: 100%;
              position: relative;
              z-index: 3;
              vertical-align: bottom;
              padding: 15px 20px;
              box-sizing: border-box;
              color: #fff;
              text-decoration: none;
              font-family: Open Sans, sans-serif;
              transition: all 200ms ease;
            }
            .accordion ul li div a * {
              opacity: 0;
              margin: 0;
              width: 100%;
              text-overflow: ellipsis;
              position: relative;
              z-index: 5;
              white-space: nowrap;
              overflow: hidden;
              -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
              -webkit-transition: all 400ms ease;
              transition: all 400ms ease;
            }
            
            .accordion ul li div a h2 {
              font-family: Montserrat, sans-serif;
              text-overflow: clip;
              font-size: 24px;
              text-transform: uppercase;
              margin-bottom: 2px;
              top: 180px;
            }
            
            .accordion ul li div a p {
              top: 180px;
              font-size: 13.5px;
            }
            .accordion ul li:nth-child(1) {
                 background: url("imgs/radish.jfif") 50% no-repeat;
                background-size: cover; }
            
            .accordion ul li:nth-child(2) { 
                background: url("imgs/aloea.PNG")50% 50% no-repeat;
            background-size: cover; }
            
            .accordion ul li:nth-child(3) {
                 background: url("imgs/li.jfif") 50% 50% no-repeat;
                background-size: cover; }
            
            .accordion ul li:nth-child(4) {
                 background: url("imgs/le4.jpg") 50% 50% no-repeat;
                background-size: cover; }
            
            .accordion ul li:nth-child(5) { 
                background: url("imgs/a.jfif") 50% 50% no-repeat;
            background-size: cover; }
            
            .accordion ul li:nth-child(6) {
                 background: url("imgs/gy.jfif")50% 50% no-repeat;
                 background-size: cover;
                  }
            .accordion ul:hover li { width: 8%; }
            
            .accordion ul:hover li:hover { width: 60%; }
            
            .accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }
            
            .accordion ul:hover li:hover a * {
              opacity: 1;
              -webkit-transform: translateX(0);
              transform: translateX(0);
            }
               
.accordion ul li div a h2{color: #fff;}

.sec3{height: 700px;
    margin-top: 70px;
    
}
.god{background: linear-gradient(to right #8daff3 50% ,#DAE2F8 50% ) ;}

.sec3 h1 {text-align: start;
        margin-bottom: 40px;}    
.thumbGallerry{
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  
              }
.thumbSlide>div>div>img{width: 50px; height: 100%;
  vertical-align: middle;}




.mainSlide .on1{background: url(imgs/01.PNG)center;
background-size: cover;}
.mainSlide .on2{background: url(imgs/02.PNG)center;
    background-size: cover;}
.mainSlide .on3{background: url(imgs/03.PNG)center;
        background-size: cover;}    
.mainSlide .on4{background: url(imgs/04.PNG)center;
            background-size: cover;}  
            
.mainSlide .on5{background: url(imgs/05.PNG)center;
                background-size: cover;}   
.mainSlide .on6{background: url(imgs/06.PNG)center;
                    background-size: cover;}   
.mainSlide .on7{background: url(imgs/07.PNG)center;
                        background-size: cover;}  
.mainSlide .on8{background: url(imgs/08.PNG)center;
                            background-size: cover;}                                               
.thumbGallerry .swiper-slide{
    width: 100%;
    height: 100%;
}  
.thumbGallerry .mainSlide{
    width: 60%;
    height: 100%;
    margin: 0;
}            
.thumbSlide{
    width: 400px;
   height: 100%   }
.thumbGallerry .thumbSlide .swiper-slide{background-color: #fff;
                      width: 100%;
                      height: 100%;
                      
                      line-height: 100%;
                      cursor: pointer;
                      opacity: 0.4;
                      padding-top: 30px;
                      margin-left: 0;
                    }  
.thumbGallerry .thumbSlide .swiper-slide-thumb-active {
                        opacity: 1;
                    }   
                    
.thumbSlide>div>div:hover p{
  display:block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;

  animation: fadeIn 0.3s ease-in-out;
}                   

.thumbSlide>div>div>p{

	display: none;
	text-align: left;
	background-color: #1E2021;
	padding: 20px;
	width: 200px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: 40px;
	color: #FFF;
	font-size: 1rem;
	line-height: 1.4;
}
.thumbSlide>div>div>p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	right:10px;
	top:-12px;
}
.thumbSlide>div>div> p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}
@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}



.sec4{width: 100%;
      height: 646px;
     background: url(imgs/m8.PNG) no-repeat;
     background-attachment: fixed;
     background-size: cover;
     margin-top: 200px;
  
 } 

.full.blue>div{position: relative;}

/* .bluebg{width: 680px;} */

.bluebg>img{width: 100%;
height: 100%;
}


.full>.blue{width: 600px;height: 450px;
  margin-top: 90px;
  box-shadow: 2px 5px 8px #414344;}

.full{display: flex;
    flex-direction: row;
    justify-content: space-between;}                

.more{width: 258px;height: 174px;
    border: 5px solid #fff;
    margin-top: 25%;
    text-align: center;
    margin-right: 105px;
   }
    
.more p {margin-top: 30px;
       cursor: pointer;} 
.more p:hover{color: cornflowerblue;}       
.sec5{width: 100%;
     height: 760px;
   background:linear-gradient(to right, rgba(212, 234, 247, 0.6) 50%, #fff 50%);
    margin-top: 50px;
  position: relative;}
.special{position: relative;}
.special>div:nth-child(1)>p::after{content: "";
                     /* display: block; */
                     position: absolute; top:710px;left: 200px;
                     width: 2px;height: 0;
                     opacity: 0;
                     border-bottom: 3px solid #54bef3;
                     transition: all 0.3s ease-in-out;}
.special>div:nth-child(2)>p::after{content: "";
                      /* display: block; */
                      position: absolute; top:340px; left: 627px;
                      width: 2px;height: 0;
                      opacity: 0;
                      border-bottom: 3px solid #54bef3;
                      transition: all 0.3s ease-in-out;}
.special>div>p:hover::after{width: 30%;opacity: 1;}

.special{display: flex;
       flex-direction: row;
        justify-content: space-around;}  
.special>div>img{height: 546px;}  
.special>div:nth-child(1){margin-top: 5%;
                             margin-left: 14%;} 

.special>div:nth-child(1)>h1{transform: rotate(270deg);
position: absolute; top: 200px; left: 10%;
transform-origin: left ;
font-size: 3rem;
color: rgba(116, 119, 122,0.4);} 
.special>div:nth-child(2)>h1{transform: rotate(90deg);
  transform-origin: right  ;
  position: absolute; top: 600px; right:10% ; 
  font-size: 3rem;
  color: rgba(116, 119, 122,0.4);}                          
.special>div:nth-child(2){margin-top: 20%;
                         margin-right: 14%;
                       }   
.special>div>p{margin-top: 30px;
             margin-bottom: 30px;
             cursor: pointer;}  
             
.sec6{width: 100%;height: 600px;
 margin-top: 200px;
    background: linear-gradient(to right,rgb(230, 214, 214)50%, rgb(245,237,231)50%);
     display: flex;
   flex-direction: row;
    justify-content: space-between;
   position: relative;
  } 
.sns{width: 400px;height: 400px;
   display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin-top:120px;
 margin-right: 10%;
}       
.sns>img{width: 190px;height: 180px;
  transition: all 0.3s linear;}
.sns>img:hover{box-shadow: 2px 4px 6px #58595c;
  transform: scale(1.4);}
.sec6{margin-top:330px;}
.sec6>div:nth-child(1){margin-top: 200px;
                      font-size: 2rem;
                      font-weight: normal;
                      padding-left: 15px;}

.last{width: 200px;height: 60px;
     text-align: center;
     line-height: 60px;
     font-size: 1.3rem;
    background-color: rgb(215,95,95);
    position: absolute; left: 44%; top: 450px; 
    cursor: pointer;
   } 
.last:hover{box-shadow: 2px 4px 6px #58595c;}    
.sec7{margin-top: 50px;
    width: 100%;
    height: 70px;
    border-top: 2px solid #58595c;
    border-bottom: 2px solid #58595c;
    } 
.icon{display: flex;
  flex-direction: row;
  justify-content: space-between;}
.icon>div:nth-child(1){margin-top: 20px;}  
.icon>div:nth-child(1)>span {margin-right: 30px;
cursor: pointer;}  

.icon>div:nth-child(2)>a{font-size: 1.5rem;
  margin-right: 20px;
  color: #000;
   text-decoration: none;}
                          
.icon>div:nth-child(2){margin-top: 15px;
                      }

footer{width: 100%;height: 400px;
 margin-top: 50px;
     background-color: rgb(233,233,242);}
.footerlist{display: flex;
           flex-direction: row; 
           justify-content: space-between;
           margin: 40px 0 50px 0;}  
           
footer>div>p:nth-child(1){text-align: center;
                        padding-top: 20px;    }    


/* /* 크로스브라우징                        * */

.ie9 .top{background-color: #D6A4A4;
            height: 60px;}
.ie9 .main>span{margin-right: 40px;}
.ie9 .footerlist>p{float: left;
                     margin-right: 70px;}
.ie9 .ie{content: ""; display: block; clear: both;
          padding-top: 40px;}
.ie9 .icon>div{float: left;}
.ie9 .icon>div:nth-child(2){margin-left: 460px;}
.ie9 .special>div{float: left;}
.ie9 .special{width: 100%;
                height: 500px; 
                background-color: lightblue;}
.ie9 .special>div:nth-child(2){margin-left: 50px;}                
.ie9 .special>div:nth-child(1){margin-left: 600px;}                
.ie9 .sec6>div{float: left;} 
.ie9 .last{content: ""; display: block; clear: both;} 
.ie9 .sec6>div:nth-child(2){margin-left: 0;
background-color: antiquewhite;
 width: 30%; height: 600px;
 margin-top: 0;}                                  
.ie9 .sec6>div:nth-child(1){background-color: rgb(230, 214, 214);
  text-align: center;margin-top: 0;
width: 50% ;height: 600px;}                                  
.ie9 .sec6>div>h1{margin-top: 150px;}
.ie9 .sec6>div:nth-child(2)>img{margin-top: 50px;
                                  margin-left: 50px;}

  








 


 



























 


 






        